<div class="container-fluid">
  <div class="row">
    <div class="col-md-3" style="background: #303030; height: 95vh;">
      <div>
        <mat-card class="task-card mt-3" style="background: #dddddd; ">
          <form [formGroup]="toDoForm">
            <mat-form-field appearance="outline" >
              <mat-label>Name of the task</mat-label>
              <input formControlName="name" matInput placeholder="Task Title">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Task Description</mat-label>
              <textarea formControlName="description" matInput placeholder="Description of the task"></textarea>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Priority</mat-label>
              <mat-select formControlName="priority">
                <mat-option value="LOW">LOW</mat-option>
                <mat-option value="MEDIUM">MEDIUM</mat-option>
                <mat-option value="HIGH">HIGH</mat-option>
              </mat-select>
            </mat-form-field>
            <div class="buttons">
              <mat-card-actions>
                <button mat-raised-button *ngIf="!isEditing" [disabled]="toDoForm.invalid" (click)="createTask()">CREATE</button>
                <button mat-raised-button *ngIf="isEditing" [disabled]="toDoForm.invalid" (click)="saveTask()">UPDATE</button>
              </mat-card-actions>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
    <div class="col-md-9" style="background: #EEE">
      <div cdkDropListGroup>
        <div class="row">
          <div class="col-md-4">
            <div class="example-container">
              <h2>To do</h2>
          
              <div cdkDropList [cdkDropListData]="toDo" class="example-list" (cdkDropListDropped)="drop($event)">
                <mat-card class="task-card mt-2" style="background: #dddddd; margin-top:0 !important" *ngFor="let item of toDo; let i = index" cdkDrag>
                  <mat-card-header>
                    <mat-card-title>{{item.name}}</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <h3>Task Description: {{item.description}}</h3>
                    <p>Task Priority: {{item.priority}}</p>
                  </mat-card-content>
                  <div class="buttons">
                    <mat-card-actions>
                      <button mat-raised-button (click)="deleteToDo(i)">DELETE</button>
                      <button mat-raised-button (click)="editTask(item, i)">EDIT</button>
                    </mat-card-actions>
                  </div>
                </mat-card>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="example-container">
              <h2>In Progress</h2>
          
              <div cdkDropList [cdkDropListData]="inProgress" class="example-list" (cdkDropListDropped)="drop($event)">
                <mat-card class="task-card mt-2" style="background: #dddddd; margin-top:0 !important" *ngFor="let item of inProgress; let i = index" cdkDrag>
                  <mat-card-header>
                    <mat-card-title>{{item.name}}</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <h3>Task Description: {{item.description}}</h3>
                    <p>Task Priority: {{item.priority}}</p>
                  </mat-card-content>
                  <div class="buttons">
                    <mat-card-actions>
                      <button mat-raised-button (click)="deleteInProgress(i)">DELETE</button>
                    </mat-card-actions>
                  </div>
                </mat-card>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="example-container">
              <h2>Done</h2>
          
              <div cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)">
                <mat-card class="task-card mt-2" style="background: #dddddd; margin-top:0 !important" *ngFor="let item of done; let i = index" cdkDrag [cdkDragDisabled]="item.done">
                  <mat-card-header>
                    <mat-card-title>{{item.name}}<button mat-icon-button color="primary" style="pointer-events: none"><mat-icon>check_circle</mat-icon></button></mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <h3>Task Description: {{item.description}}</h3>
                    <p>Task Priority: {{item.priority}}</p>
                    
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

